#bottom-panel {
  margin-top: 40px;
  text-align: center;
}

#controls-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4px;
  background-color: white;
  color: black;
}

.key-combo {
  margin: 0 8px;
}

.key-combo img {
  display: block;
  margin: 0 auto;
}

.key-explanation {
  font-family: "Changa", sans-serif;
  text-align: center;
  line-height: 15px;
  font-size: 15px;
  max-height: 15px;
}
