#left-panel {
  position: relative;
  background-color: #a29792;
  padding: 30px 20px 30px 20px;
  width: 320px;
  transition: margin-left 0.4s ease-in-out;
}

#left-panel-toggle-button {
  position: absolute;
  top: 50%;
  margin-top: -100px;
  right: 0;
  width: 30px;
  height: 200px;
  display: none;
}

.left-panel-section {
  margin-top: 5px;
  padding-bottom: 10px;
  background: #857e79;
}

.section-title {
  margin: 0;
  font-weight: 400;
  text-align: center;
  font-size: 20px;
}

.settings-table {
  font-family: "Changa", sans-serif;
  line-height: 16px;
  font-size: 18px;
  border-spacing: 0px;
}

.settings-table input {
  font-family: "Changa", sans-serif;
  font-size: 16px;
}

.selected-row {
  background-color: rgb(250, 111, 111);
}

.disabled-row {
  pointer-events: none;
}

.disabled-row > :nth-child(2) {
  opacity: 0.6;
}

.settings-table {
  font-size: 16px;
  margin: 0 auto;
}

.setting-label {
  text-align: right;
}

.settings-table textarea {
  max-width: 150px;
}

.settings-table select {
  max-width: 150px;
  padding: 3px 0;
  white-space: normal;
  /* For Firefox: */
  text-overflow: ellipsis;
}

#piece-sequence {
  border-radius: 3px;
  height: 45px;
  max-height: 85px;
}

#paste-area {
  resize: none;
  width: 75%;
  border-radius: 3px;
  max-height: 36px;
  height: 36px;
}

#pasted-image {
  display: none;
}

#debug,
#stats {
  font-family: sans-serif;
  font-size: 20px;
  text-align: right;
  font-weight: 500;
}
