#left-panel {
  position: relative;
  background-color: #a29792;
  padding: 30px 20px 30px 20px;
  width: 320px;
  transition: margin-left 0.4s ease-in-out;
}

#left-panel-toggle-button {
  position: absolute;
  top: 50%;
  margin-top: -100px;
  right: 0;
  width: 30px;
  height: 200px;
  display: none;
}

.section-title {
  margin: 0;
  font-weight: 400;
  text-align: center;
  font-size: 20px;
}

.preset-button {
  display: inline-block;
  padding: 8px 5px;
  font-size: 16px;
  margin-bottom: 4px;
}

#start-button {
  padding: 10px 30px;
  font-size: 20px;
  background: #ff3223;
}

#start-button:hover {
  background: #f7786f;
}

.settings-table {
  font-family: "Changa", sans-serif;
  line-height: 16px;
  font-size: 18px;
}

.settings-table input {
  font-family: "Changa", sans-serif;
  font-size: 16px;
}

#level-select {
  margin: 0 auto;
  height: 25px;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  border: solid 1px gray;
}

.level-button {
  padding: 7px 6px;
  min-width: 28px;
  margin-bottom: 2px;
}

.settings-table textarea {
  max-width: 150px;
  max-height: 80px;
}

.settings-table select {
  max-width: 150px;
  min-height: 35px;
  white-space: normal;
  /* For Firefox: */
  text-overflow: ellipsis;
}

#piece-sequence {
  border-radius: 3px;
}
#paste-area {
  width: 100%;
  border-radius: 3px;
}

#pasted-image {
  display: none;
}

#debug,
#stats {
  font-family: sans-serif;
  font-size: 20px;
  text-align: right;
  font-weight: 500;
}
