

#right-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 540px;
}

#right-panel-spacer {
  flex-grow: 1;
}

/* StackRabbit Analysis */

#engine-analysis {
  width: 100%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#engine-table {
  width: 100%;
  margin: auto;
  border-collapse:separate;
  border-spacing:0 4px;
}

#engine-table tr {
  margin-bottom: 1px;
  font-size: 14px;
}

.table-spacer {
  height: 10px;
}

.ranking {
  padding: 6px 6px;
  background: rgb(143, 143, 143);
}

.notated-move, .notated-adj, .notated-next, .eval-score {
  padding: 2px 8px
}

.eval-score {
  background: rgb(143, 143, 143);
  text-align: center;
}

.eval-score-adj {
  background: rgb(105, 105, 105);
  text-align: center;
}

.notated-move {
  background: rgb(12, 158, 226);
}

.notated-adj {
  background: rgb(30, 130, 177);
}

.notated-next {
  background: rgb(45, 107, 136);
}

/* Controls */

#controls-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4px;
  background-color: white;
  max-width: 275px;
  color: black;
}

.key-combo {
  margin: 0 8px;
}

.key-combo img {
  display: block;
  margin: 0 auto;
}

.key-explanation {
  font-family: "Changa", sans-serif;
  text-align: center;
  line-height: 15px;
  font-size: 15px;
  max-height: 15px;
}
