

#right-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 540px;
}

#right-panel-spacer {
  flex-grow: 1;
}


#controls-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4px;
  background-color: white;
  max-width: 275px;
  color: black;
}

.key-combo {
  margin: 0 8px;
}

.key-combo img {
  display: block;
  margin: 0 auto;
}

.key-explanation {
  font-family: "Changa", sans-serif;
  text-align: center;
  line-height: 15px;
  font-size: 15px;
  max-height: 15px;
}
