* {
    box-sizing: border-box;
}

body {
    min-width: 800px;
}

button {
    padding: 10px;
    background-color: orange;
    border: none;
    font-size: 16pt;
    border-radius: 5px;
}

button:hover {
    transform: translate(0px, -1px);
}

button:focus {
    outline: none;
}

button:active {
    transform: translate(0px, 1px);
    outline: none;
}

input, textarea {
    padding-left: 10px;
}

textarea {
    padding-top: 5px;
}

.standard {
    font-family: monospace;
    font-weight: bold;
    text-align: center;
}

#score {
    font-size: 24px;
    display: inline-block;
}

#credits {
    font-family: monospace;
}

#header-text {
    min-height: 24px
}

#main-panel {
    display: flex;
    flex-direction: row;
}

#main-canvas {
    display: block;
    margin: 0 auto;
}

#dummy-canvas {
    display: none;
}

#game-options-form {
    margin: 0;
}

#game-options-form > * {
    margin-bottom: 5px;
}

#level-select {
    font-size: 18px;
    height: 40px;
    width: auto;
    border-radius: 3px;
    border: solid 1px gray;
}

#piece-sequence {
    width: 100%;
    border-radius: 3px;
}
#paste-area {
    width: 100%;
    border-radius: 3px;
}

#pasted-image {
    display: none;
}

#debug, #stats {
    font-size: 20px;
    text-align: right;
}