#score {
    font-size: 24px;
    display: inline-block;
}

#credits {
    font-family: monospace;
}

#header-text {
    min-height: 24px
}

#main-panel {
    display: flex;
    flex-direction: row;
}

#main-canvas {
    display: block;
    margin: 0 auto;
}

#dummy-canvas {
    display: none;
}

#level-select {
    font-size: 18px;
}

#start-game {
    font-size: 24pd;
}

#pasted-image {
    display: none;
}

.standard {
    font-family: monospace;
    font-weight: bold;
    text-align: center;
}

button {
    padding: 5px;
}