* {
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: orange;
    border: none;
    font-size: 16pt;
    border-radius: 5px;
}

button:hover {
    transform: translate(0px, -1px);
}

button:focus {
    outline: none;
}

button:active {
    transform: translate(0px, 1px);
    outline: none;
}

.standard {
    font-family: monospace;
    font-weight: bold;
    text-align: center;
}

#score {
    font-size: 24px;
    display: inline-block;
}

#credits {
    font-family: monospace;
}

#header-text {
    min-height: 24px
}

#main-panel {
    display: flex;
    flex-direction: row;
}

#main-canvas {
    display: block;
    margin: 0 auto;
}

#dummy-canvas {
    display: none;
}

#level-select {
    font-size: 18px;
    height: 50px;
}

#piece-sequence {
    width: 80%;
}

#pasted-image {
    display: none;
}