* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 20px;
  background-color: rgb(102 107 111);
  color: white;
  font-family: "Changa", sans-serif;
}

button {
  padding: 10px;
  background-color: #f38805;
  color: white;
  border: none;
  font-size: 16pt;
  border-radius: 5px;
}

button:hover {
  background-color: #f1a13e;
}

button:focus {
  outline: none;
}

button:active {
  transform: translate(0px, 1px);
  outline: none;
}

input,
textarea {
  padding-left: 10px;
}

textarea {
  padding-top: 5px;
}

.standard {
  font-family: "Changa", sans-serif;
  font-weight: 400;
  text-align: center;
}

#credits {
  font-family: monospace;
}

#header-text {
  min-height: 44px;
  margin-bottom: 20px;
  font-size: 24px;
}

#main-area {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  overflow: hidden;
  margin: 0 auto;
  align-items: flex-start;
}

#left-panel {
  position: relative;
  background-color: #a29792;
  padding: 40px 60px 40px 20px;
  width: 320px;
  transition: margin-left 0.4s ease-in-out;
  /* border: 1px solid black; */
  /* border-radius: 0 10px 10px 0; */
  /* box-shadow: 0 0 5px black; */
}

#left-panel-toggle-open {
  position: absolute;
  top: 50%;
  margin-top: -100px;
  right: 0;
  width: 40px;
  height: 200px;
}

#controls-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4px;
  background-color: white;
  color: black;
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 60px;
  bottom: 40px;
}

.key-combo {
  margin: 0 8px;
}

.key-combo img {
  display: block;
  margin: 0 auto;
}

.key-explanation {
  font-family: "Changa", sans-serif;
  text-align: center;
  line-height: 15px;
  font-size: 15px;
  max-height: 15px;
}

#right-panel {
  display: block;
  margin: 0 auto;
  background: #cacaca;
  padding: 30px;
}

#main-canvas {
  image-rendering: pixelated;
  margin: auto;
}

#dummy-canvas {
  display: none;
}

#game-options-form {
  margin: 0;
}

#game-options-form > * {
  margin-bottom: 5px;
}

#level-select {
  font-size: 18px;
  height: 40px;
  width: auto;
  border-radius: 3px;
  border: solid 1px gray;
}

#piece-sequence {
  width: 100%;
  border-radius: 3px;
}
#paste-area {
  width: 100%;
  border-radius: 3px;
}

#pasted-image {
  display: none;
}

#debug,
#stats {
  font-family: sans-serif;
  font-size: 20px;
  text-align: right;
  font-weight: 500;
}
